<div class="deal-pro-active owl-carousel deal-pro-style-one">
    <div class="single-product">
        <div class="pro-img">
            <a href="product.html">
                <img src="/assets/img/products/16.jpg" alt="single-product">
            </a>
            <div class="pro-actions">
                <div class="actions-primary">
                    <a href="cart.html" data-bs-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                </div>
                <div class="actions-secondary">
                    <a href="wishlist.html" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                    <a href="compare.html" data-bs-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                </div>
            </div>
        </div>
        <div class="pro-content">
            <h4>
                <a href="product.html">Strive Shoulder Pack</a>
            </h4>
            <rate rate-value="5" rate-entity-id="1" />
            <p>
                <span class="price">$32.00</span>
            </p>
            <p>Convenience is next to nothing when your day is crammed with action. So whether you're heading to class, gym, or the unbeaten path, make sure you've..</p>
            <div class="countdown" data-countdown="2022/01/01"></div>
        </div>
    </div>

    <div class="single-product">
        <div class="pro-img">
            <a href="product.html">
                <img src="/assets/img/products/7.jpg" alt="single-product">
            </a>
            <div class="pro-actions">
                <div class="actions-primary">
                    <a href="cart.html" data-bs-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                </div>
                <div class="actions-secondary">
                    <a href="wishlist.html" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                    <a href="compare.html" data-bs-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                </div>
            </div>
        </div>
        <div class="pro-content">
            <h4><a href="product.html">Crown Summit Backpack</a></h4>            
            <rate rate-value="3" rate-entity-id="2" />
            <p><span class="price">$38.00</span></p>
            <p>The Crown Summit Backpack is equally at home in a gym locker, study cube or a pup tent, so be sure yours is packed with books, a bag lunch, water bottles,..</p>
            <div class="countdown" data-countdown="2023/01/01"></div>
        </div>
    </div>
    <div class="single-product">
        <div class="pro-img">
            <a href="product.html">
                <img src="/assets/img/products/2.jpg" alt="single-product">
            </a>
            <div class="pro-actions">
                <div class="actions-primary">
                    <a href="cart.html" data-bs-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                </div>
                <div class="actions-secondary">
                    <a href="wishlist.html" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                    <a href="compare.html" data-bs-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                </div>
            </div>
        </div>
        <div class="pro-content">
            <h4><a href="product.html">SWayfarer Messenger Bag</a></h4>
            <rate rate-value="4.3" rate-entity-id="3" />
            <p><span class="price">$35.00</span><del class="prev-price">$40.00</del></p>
            <p>Convenience is next to nothing when your day is crammed with action. So whether you're heading to class, gym, or the unbeaten path, make sure you've..</p>
            <div class="countdown" data-countdown="2025/01/01"></div>
        </div>
    </div>
</div>